<header>
    Sumedh - N01580256
    <div> <a href="/">Home</a> </div> 
    {{!-- <div><a href="/api/books">Show all books</a></div> --}}
    <div><a href="/api/insert">Insert new book</a></div>
</header>