<form method="POST" action="/api/books" id="insertForm" >
    <input type="text" name="title" id="title" placeholder="Enter Title">
    <input type="text" name="author" id="author" placeholder="Enter Author">
    <input type="text" name="price" id="price" placeholder="Enter Price">
    <input type="text" name="ISBN" id="ISBN" placeholder="Enter ISBN">
    <input type="submit" value="Insert">
</form>